[submodule "FoxStudios-EurekaRoot"]
	path = FoxStudios-EurekaRoot
	url = https://github.com/FoxStudiosTeam/FoxStudios-EurekaRoot
	branch = master
[submodule "FoxStudios-PyBid"]
	path = FoxStudios-PyBid
	url = https://github.com/AgniaEndie/FoxStudios-PyBid
	branch = master
[submodule "FoxStudios-Gateway"]
	path = FoxStudios-Gateway
	url = https://github.com/FoxStudiosTeam/FoxStudios-Gateway
	branch = master
